<p id="notice"><%= notice %></p>

<div class="summoner">

<h1>Informations de l'invocateur</h1>


    <% @players.each do |player| %>

      <p>Pseudo du joueur : <%= player.name %> | Region du joueur : <%= player.region %> | Nombre de partie classée : <%= player.nb_ranked %></p>

      <p>Historique :</p>
    </div>

      <% player.historic.each do |historic| %>
        <div class="champion_container">
           <img src=<%= historic[9]['Image'] %> />
           <p> <%= historic[8]['ChampName'] %> <p/>
           <p> <%= historic[1]['Queue'] %> <p/>
           <p> <%= historic[2]['Season'] %> <p/>
           <p> <%= historic[4]['Lane'] %> <p/>
           <p> <%= historic[3]['Date'] %> <p/>
            <%= link_to '', game_path(:region => player.region, :id => historic[7]['MatchID']) %>
        </div>
      <% end %>
    <% end %>

<br>

<%= link_to 'Nouvelle recherche', new_player_path %>

